<!DOCTYPE html>
<html>
  <head>
    <title>Week3Day1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   </head>

  <body>

<nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
      <% if !user_signed_in? %>
      <li class="btn btn-warning">  <%= link_to "Login", new_user_session_path , class: "nav-link"%></li>
      <% end %>
      <% if user_signed_in? %>
      <li class="btn btn-warning"><%= link_to 'New Post', new_post_path, class: "nav-link" %></li>
      <li class="btn btn-warning" style="margin-left:10px"><%= link_to "Logout", destroy_user_session_path, method: :delete , class: "nav-link"%></li>
      <li class="btn btn-warning" style="margin-left:10px"><%= link_to "Home", new_user_session_path , class: "nav-link"%></li>
      <% end %>
    </ul>
</nav>
  
    <p class="notice"><%= notice %>
    <p class="alert"><%= alert %>
    <%= yield %>
  </body>
</html>
